[core]
    autocrlf = true
    safecrlf = false
    filemode = false
    editor = code --wait
    quotepath = false

[user]
    name = Developer
    email = developer@example.com

[init]
    defaultBranch = main

[pull]
    rebase = false

[push]
    default = simple

[color]
    ui = auto

[alias]
    st = status
    co = checkout
    br = branch
    ci = commit
    df = diff
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative

[merge]
    tool = vscode

[mergetool "vscode"]
    cmd = code --wait $MERGED

[diff]
    tool = vscode

[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE 